NODE_ENV=
BACKEND_URL=
FRONTEND_URL=
PROXY_PORT=
PORT=

DB_DIALECT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET=
JWT_REFRESH_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_OPT_LIMITER_MAX=
REDIS_OPT_LIMITER_DURATION=

# Sentry opcional
